			<noscript>
					<div id="no-javascript" class="table-visible">
						<div id="no-javascript-wrap">
							<div id="no-javascript-box">
								<h2>Error</h2>
								<p>This website requires javascript to work properly. This may require you to allow javascript on this page or to download a <a href="https://www.google.com/chrome/browser/desktop/" target="_blank">javascript enabled browser</a>.</p>
							</div>
						</div>
					</div>
				</noscript>
			</div>
		</div>
		<div id="footer">
			<p>&copy 2015 Cory Beams</p>
			<p>Source available on <a href="https://github.com/Jaloko/DrawNetwork" target="_blank">Github</a></p>
		</div>
	</body>
</html>