<html>
	<head>
		<title>Draw Network</title>
		<script src="/socket.io/socket.io.js"></script>
		<script src="js/functions.js"></script>
		<script src="/js/global.js"></script>
		<link rel="icon" href="/img/logo/dn-32x32.png" type="image/x-icon" />
		<link rel="stylesheet" type="text/css" href="/css/global.css">
		<link rel="stylesheet" type="text/css" href="/css/extras.css">
		<link rel="stylesheet" type="text/css" href="/css/fonts.css">
		<link rel="stylesheet" type="text/css" href="/css/acp.css">
	</head>
	<body>
		<div class="font_preload" style="opacity: 0; position: absolute; left: -99999px;">
			<span style="font-family: 'Open Sans';">Test</span>
			<span style="font-family: 'Roboto';">Test</span>
			<span style="font-family: 'Ubuntu';">Test</span>
			<span style="font-family: 'Sigmar One';">Test</span>
			<span style="font-family: 'Droid Serif';">Test</span>
			<span style="font-family: 'Pacifico';">Test</span>
			<input id="text-tool-text" type="text" />
		</div>
		<div id="nav-bar">
			<div class="content-box">
				<a id="logo-64" href="/" class="nav-opt"></a>
				<a href="/" class="nav-opt">Home</a>
				<a href="/acp" class="nav-opt">ACP</a>
				<a id="save-room" onclick="saveRoom();" class="nav-opt save invisible">Save Room</a>
				<div class="clear"></div>
			</div>
		</div>
		<div class="content-box" >
			<div id="wrapper">