<% include /partials/header %>
	<div class="container">
		<h1>Draw Network</h1>
		<div class="special-box">
			Draw Network is a free online cooperative drawing tool that allows you to draw in real time with other users. Why? Because its just more fun with other people. Simply create a room and share the unique URL to get started.
		</div>
		<div class="content-box center">
			<p class="lead">To get started go to the rooms page.</p>
			<a class="btn outline" href="/rooms">View Rooms</a>
		</div>
		<hr>
		<h2>Features</h2>
		<div id="features" class="center">
			<div class="special-box feature-fixed-height four-col right-margin">
				<div class="feature-fixed-image margin-left-right-auto padlock"></div>
				<p>Create your own public or private rooms.</p>
			</div>
			<div class="special-box feature-fixed-height four-col right-margin">
				<div class="feature-fixed-image margin-left-right-auto clipboard"></div>
				<p>No registration required.</p>
			</div>
			<div class="special-box feature-fixed-height four-col right-margin">
				<div class="feature-fixed-image margin-left-right-auto shared-canvas"></div>
				<p>Up to 10 users can draw at the same time per room.</p>
			</div>
			<div class="special-box feature-fixed-height four-col">
				<div class="feature-fixed-image margin-left-right-auto cloud-download"></div>
				<p>Save and download your drawings at any time.</p>
			</div>
		</div>
		<div class="content-box center">
			<p class="lead">Draw Network is open source and available on GitHub.</p>
			<a class="btn outline" target="_blank" href="https://github.com/Jaloko/DrawNetwork">View on GitHub</a>
		</div>
	</div>
<% include /partials/footer %>