<% include /partials/header %>
	<div class="container center">
		<div class="content-wrap">
			<h2>Log in</h2>
			<form action="" method="post">
				<div class="special-box">
					<span class="login-fixed-width left">Username: </span><input name="username" type="text" autofocus/> <br><br>
					<span class="login-fixed-width left">Password: </span><input name="password" type="password"/><br>
				<input type="submit" class="invisible"/>
				</div> <br>
				<div class="content-box">
					<a class="btn outline" onclick="this.parentNode.parentNode.submit();">Log In</a>
				</div>
			</form>
		</div>
	</div>
<% include /partials/footer %>