<% include /partials/header %>
	<div id="acp-content">
		<h2>Administration Control Panel</h2>
		<form action="" method="post">
			<span>Username: </span><input type="text" name="username"> <br>
			<span>Password: </span><input type="password" name="password"> <br>
			<button class="button" type="submit" onclick="this.parentNode.submit();">Log In</button>
		</form>
	</div>
<% include /partials/footer %>