<% include /partials/header %>
	<div class="container center">
		<div class="content-wrap">
			<h2>Log in</h2>
			<% include /partials/errors/login-error %>
			<form action="" method="post">
				<div class="special-box">
					<div class="content-wrap">
						<span class="login-fixed left">Username: </span><span><input name="username" type="text" autofocus/></span>
					</div>
					<div>
						<span class="login-fixed left">Password: </span><span><input name="password" type="password"/></span>
					</div>
				<input type="submit" class="invisible"/>
				</div> <br>
				<div class="content-box">
					<a class="btn outline" onclick="this.parentNode.parentNode.submit();">Log In</a>
				</div>
			</form>
		</div>
	</div>
<% include /partials/footer %>