<% include /partials/header %>
	<div class="container center">
		<div class="content-wrap">
			<h2>Log In</h2>
			<div class="special-box">
				<form action="" method="post">
					<span class="login-fixed-width left">Username: </span><input name="username" type="text" autofocus/> <br><br>
					<span class="login-fixed-width left">Password: </span><input name="password" type="password"/> <br> <br>
					<a class="btn outline" onclick="this.parentNode.submit();">Log In</a>
				</form>
			</div>
		</div>
	</div>
<% include /partials/footer %>