#acp-content {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

#acp-content h2 {
    padding-bottom: 20px;
}

#acp-content form span {
    display: inline-block;
    text-align: left;
    width: 150px;
}

#acp-content #room-container {
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

#acp-content #room-list-headers tr, #acp-content #room-container tr {
    text-align: left;
    width: 100%;
}

#acp-content #room-list-headers th, #acp-content #room-container td {
    text-align: left;
    width: 18%;
}


input[type="text"], input[type="password"] {
    position: relative;
    top: -2px;
    border: none;
    -webkit-appearance: none;
    height: 40px;
    width: 200px;
    outline: 0;
    color: black;
    margin-bottom: 20px;
}