body {
	background-color: #2d2218;
}

*{
	padding:0; margin:0;
	color: white;
}
/*canvas.dragged{
	cursor: pointer;
}
*/

/*---------------------------------
	Home Layout
---------------------------------*/
#nav-bar {
	display: block;
	width: 100%;
	min-width: 1280px;
	height: 60px;
	background-color: #372f2d;
}

.nav-opt {
	display: inline-block;
	text-decoration: none;
	height: 60px;
	line-height: 60px;
	padding-left: 10px;
	padding-right: 10px;
}

.nav-opt:hover {
	background-color: #998675; 
}

.col {
	float: left;
	display: inline-block;
	width: 46%;
	padding: 2%;
}

#home-head {
	display: block;
	width: 100%;
}

.home-row {
	display: block;
	margin-top: 20px;
	width: 96%;
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #4d3d2f;
}

input#room-search {
	position: relative;
	top: -2px;
	border: none;
	-webkit-appearance: none;
	height: 40px;
	width: 280px;
	outline: 0;
	color: black;
}

.col-bar {
	display: block;
	width: 100%;
}

table {
	border-spacing:0; /* Removes the cell spacing via CSS */
	border-collapse: collapse;
}

#room-list {
	text-align: left;
	margin-top: 10px;
	width: 100%;
}

#room-list tr:hover td {
	background-color: #71573f;	
	cursor: pointer;
}

.row-selected {
	background-color: #998675;
}

th {
	background-color: #362f2d;
}

td {
	background-color: #4d3d2f;	
}

td, th {
	padding: 5px;
}

input[type="radio"] {
	display: none;
}

#join-room-container {
	margin-top: 10px;
}

/*---------------------------------
	Draw Layout
---------------------------------*/
#wrapper {
	background-color: #675039;
}

#left-col {
	float: left;
	display: inline-block;
	width: 960px;
}

#right-col {
	float: left;
	width: 320px;
	display: inline-block;
}

#canvas-wrap {
	display: block;
	position: relative;
	width: 100%;
}

#tools {
	display: block;
	background-color: #362f2d;
	width: 100%;
	height: 50px;
	float: left;
}

.tool {
	float: left;
}

.center {
	text-align: center;
}

.button {
	display: inline-block;
	height: 40px;
	padding-left: 5px;
	padding-right: 5px;
	line-height: 40px;
	margin: 5px;
	background-color: #998675;
}

.bselect {
	background-color: #63574c;
}

.button:hover {
	cursor: pointer;
	background-color: #cfb9a6;
}

#currentColour {
	float: right;
	height: 40px;
	margin: 5px;
	width: 40px;
	background-color: #f00;
}

#brushSelection {
	margin-top: 15px;
}

#colour-picker {
	display: block;
	width: 100%;
	height: 255px;
}

#user-tools {
	display: block;
	width: 100%;
	height: 388px;
	background-color: #71573f;
}

#user-tabs {
	display: block;
	width: 100%;
	background-color: #362f2d;
}

.users-border {
	display: block;
	margin: 5px;
	width: 310px;
}

.tab {
	display: inline-block;
	float: left;
	height: 35px;
	line-height: 35px;
	padding-left: 5px;
	padding-right: 5px;
	margin-left: 5px;
	margin-top: 15px;
	background-color: #4d3d2f;
}

.tab:hover {
	background-color: #998675;
	cursor: pointer;
}

.selected {
	background-color: #71573f;
	height:40px;
	line-height: 40px;
	margin-top: 10px;
}

#tab-content {

}

.row {
	display: block;
	width: 100%;
	height: 30px;
	background-color: #4d3d2f;
	margin-bottom: 3px;
}

.user-colour {
	display: inline-block;
	float: left;
	width: 30px;
	height: 30px;
	background-color: #fff;
}

.user-name {
	display: inline-block;
	float: left;
	margin-left: 10px;
	width: 267px;
	height: 30px;
	line-height: 30px;
}

.visible {
	display: block;
}

.invisible {
	display: none;
}

.table-visible {
	display: table;
}

.content-box {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 1280px;
	max-width: 1280px;
}

#name-wrap, #clear-wrap {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	min-width: 1280px;
	min-height: 720px;
	background-color: #111;
	background-color: rgba(25,25,25,0.8);
}

#name-box-wrap, #clear-box-wrap {
	display: table-cell;
	vertical-align: middle;
}

#name-box, #clear-canvas-vote-box {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 300px;
	padding: 20px;
	background-color: #333;
}

#name-box input {
	width: 250px;
	height: 30px;
	color: #000000;
	background-color: #888;
	-webkit-appearance: none;
	border: none;
}

#name-box input:focus {
	background-color: #ddd;
}


#name-box h2, #name-box input{
	margin-bottom: 20px;
}
/*---------------------------------
	Tools
---------------------------------*/
#tool-col-pick{
	margin: 10px;
	border:2px solid #000;
	width:600px;
	height:260;
}

#tool-col-pick > #color-picker{
	float: left;
	cursor:crosshair;
}
#tool-col-pick > #tool-rgb-val{
	float: right;
}
#tool-rgb-val label{

}
#tool-rgb-val span{
	display: block;
}
#tool-rgb-val input{
	width: 80px;
}

#canvas, #pointer-canvas {
	cursor: none;
}