body {
	background-color: #2d2218;
}

*{
	padding:0; margin:0;
	color: #e8dfd7;
}

*.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#logo-64 {
	height: 60px;
	width: 60px;
	padding: 0;
	background: url("../img/logo/dn-64x64.png") center no-repeat;
	background-size: 80%;
}

a {
	text-decoration: none;
	color: #cfb9a6;
}

a:hover {
	color: #fff;
}

.link {
	color: #e8dfd7;
}
/*---------------------------------
	Home Layout
---------------------------------*/
#nav-bar {
	display: block;
	position: relative;
	width: 100%;
	min-width: 1280px;
	height: 60px;
	background-color: #372f2d;
}

.nav-opt {
	display: inline-block;
	float: left;
	text-decoration: none;
	height: 60px;
	line-height: 60px;
	padding-left: 10px;
	padding-right: 10px;
	top: 0;
}

.nav-opt:hover {
	background-color: #998675; 
}

#footer {
	display: block;
	text-align: center;
	line-height: 30px;
	color: #998675;
	width: 100%;
	min-width: 1280px;
	height: 60px;
	background-color: #372f2d;
}

#footer p {
	margin: 0;
	padding: 0;
	color: #998675;
}

#footer a {
	text-decoration: none;
	color: #cfb9a6;
}
#footer a:hover {
	color: white;
}

.save {
	float: right;
	cursor: pointer;
}

.col {
	float: left;
	display: inline-block;
	width: 46%;
	padding: 2%;
}

#home-head {
	display: block;
	width: 100%;
}

.home-row {
	display: block;
	margin-top: 20px;
	width: 96%;
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #4d3d2f;
}

.title-padding {
	padding-bottom: 15px;
}

.feature-row {
	display: block;
	width: 100%;
	padding-top: 15px;

}

.feature-icon {
	float: left;
	display: inline-block;
	position: relative;
	background-color: #998675;
}

#icon-people {
	background: url("../img/icons/users6.png") center no-repeat;
	background-size: 90%;
	width: 60px;
	height: 60px;
}

#icon-download {
	background: url("../img/icons/download174.png") center no-repeat;
	background-size: 90%;
	width: 60px;
	height: 60px;
}

#icon-lock {
	background: url("../img/icons/lock77.png") center no-repeat;
	background-size: 90%;
	width: 60px;
	height: 60px;
}

#icon-registration {
	background: url("../img/icons/create1.png") center no-repeat;
	background-size: 90%;
	width: 60px;
	height: 60px;
}

#icon-vote {
	background: url("../img/icons/checklist4.png") center no-repeat;
	background-size: 90%;
	width: 60px;
	height: 60px;
}

.feature-text {
	float: left;
	display: inline-block;
	width: 475px;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
	line-height: 60px;
	margin-left: 10px;
	background-color: #998675;

}

input#room-search {
	position: relative;
	top: -2px;
	border: none;
	-webkit-appearance: none;
	height: 40px;
	width: 280px;
	outline: 0;
	color: black;
}

#fontSel, #lineTip {
	position: relative;
	top: -2px;
	border: none;
	outline: 0;
	color: black;	
}

#fontSel option, #lineTip option {
	color:black;
}

.col-bar {
	display: block;
	width: 100%;
}

table {
	border-spacing:0; /* Removes the cell spacing via CSS */
	border-collapse: collapse;
}

#room-list {
	text-align: left;
	width: 100%;
}

#room-list tr:hover td {
	background-color: #71573f;	
	cursor: pointer;
}

.row-selected {
	background-color: #998675;
}

th {
	background-color: #362f2d;
}

td {
	background-color: #4d3d2f;	
}

td, th {
	padding: 5px;
}

input[type="radio"] {
	display: none;
}

#room-container {
	position: relative;
}

#join-room-container {
	margin-top: 10px;
}

/*---------------------------------
	Draw Layout
---------------------------------*/
#wrapper {
	background-color: #675039;
}

#left-col {
	float: left;
	display: inline-block;
	width: 960px;
}

#right-col {
	float: left;
	width: 320px;
	display: inline-block;
}

#canvas-wrap {
	display: block;
	position: relative;
	width: 100%;
}

#tools {
	display: block;
	background-color: #362f2d;
	width: 100%;
	height: 50px;
	float: left;
}

#tool-settings {
	display: block;
	width: 100%;
	height: 50px;
	float: left;
}

.tool {
	float: left;
}

.center {
	text-align: center;
}

.button {
	display: inline-block;
	text-decoration: none;
	height: 40px;
	padding-left: 5px;
	padding-right: 5px;
	line-height: 40px;
	margin: 5px;
	background-color: #998675;
}

.messageB {
	margin-left: 0px;
	margin-right: 0px;
}

.bselect {
	background-color: #63574c;
}

#brush-settings > .button,
#shape-settings > .button{
	background: #B59274;
}

#brush-settings > .button:hover,
#shape-settings > .button:hover{
	background: #FFDDBF;
}

#brush-settings > .bselect,
#shape-settings > .bselect{
	background: #DBB797;
}

.button:hover {
	cursor: pointer;
	background-color: #cfb9a6;
	color: #fff;
}

.button:hover a {
	color: #fff;
}

#currentColour {
	float: right;
	height: 40px;
	margin: 5px;
	width: 40px;
	background-color: #f00;
}

#brushSelection {
	margin-top: 15px;
}

#colour-picker {
	display: block;
	width: 100%;
	height: 255px;
}

#user-tools {
	display: block;
	width: 100%;
	height: 388px;
	background-color: #71573f;
}

#user-tabs {
	display: block;
	width: 100%;
	background-color: #362f2d;
}

.users-border {
	display: block;
	margin: 5px;
	width: 310px;
}

.tab {
	display: inline-block;
	float: left;
	height: 35px;
	line-height: 35px;
	padding-left: 5px;
	padding-right: 5px;
	margin-left: 5px;
	margin-top: 15px;
	background-color: #4d3d2f;
}

.tab:hover {
	background-color: #998675;
	cursor: pointer;
}

.tab:hover a {
	color: #ffffff;
}

.selected {
	background-color: #71573f;
	height:40px;
	line-height: 40px;
	margin-top: 10px;
}

#tab-content {

}

.row {
	display: block;
	width: 100%;
	height: 30px;
	background-color: #4d3d2f;
	margin-bottom: 3px;
}

.user-colour {
	display: inline-block;
	float: left;
	width: 30px;
	height: 30px;
	background-color: #fff;
}

.user-name {
	display: inline-block;
	float: left;
	margin-left: 10px;
	width: 267px;
	height: 30px;
	line-height: 30px;
}

.visible {
	display: block;
}

.invisible {
	display: none;
}

.table-visible {
	display: table;
}

.content-box {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 1280px;
	max-width: 1280px;
}

#name-wrap, #clear-wrap, #save-wrap {	
	position: absolute;
	top: 60px;
	left: 0;
	width: 100%;
	min-width: 1280px;
	min-height: 643px;
	background-color: #111;
	background-color: rgba(25,25,25,0.8);
	z-index: 40;
}

#name-box-wrap, #clear-box-wrap, #save-box-wrap {
	display: table-cell;
	vertical-align: middle;
}

#name-box, #clear-canvas-vote-box, #save-box {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 300px;
	padding: 20px;
	background-color: #4d3d2f;
}

#name-box input {
	margin-top: 10px;
	width: 250px;
	height: 30px;
	color: #000000;
	background-color: #aaa;
	-webkit-appearance: none;
	border: none;
}

#name-box input:focus {
	outline: 0;
	background-color: #fff;
}


#name-box h2, #name-box input{
	margin-bottom: 20px;
}

#no-javascript {
	position: absolute;
	top: 60px;
	left: 0;
	width: 100%;
	min-width: 1280px;
	min-height: 700px;
	background-color: #111;
	background-color: rgba(25,25,25,0.8);
	z-index: 40;
}

#no-javascript-wrap {
	display: table-cell;
	vertical-align: middle;
}

#no-javascript-box {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 400px;
	padding: 20px;
	background-color: #4d3d2f;
}
/*---------------------------------
	Tools
---------------------------------*/
/* Tool Tip */

[data-tip] {
    position: relative;
    z-index: 1;
    cursor: pointer;
}

[data-tip]:before,
[data-tip]:after {
  	visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

[data-tip]:before {
    position: absolute;
    bottom: 50px;
    padding: 10px;
    width: 170px;
    font-size: 12pt;
    line-height: 1;
    text-align: center;
    background-color: #675039;
    color: #fff;
    content: attr(data-tip);
}

/* Show tooltip content on hover */
[data-tip]:hover:before,
[data-tip]:hover:after {
    visibility: visible;
    opacity: 1;
}

.button-icon{
	width: 40px;
	height: 40px;
}

#tool-collection-brush-img {
	background: url("../img/icons/cup29.png") center no-repeat;
	background-size: 80%;
}

#tool-brush-img {
	background: url("../img/icons/artist3.png") center no-repeat;
	background-size: 100%;
}

#tool-square-brush-img {
	background: url("../img/icons/roller-brush.png") center no-repeat;
	background-size: 80%;
}

#tool-gradient-brush-img {
	background: url("../img/icons/painter11.png") center no-repeat;
	background-size: 80%;
}


#tool-rainbow-brush-img {
	background: url("../img/icons/star42.png") center no-repeat;
	background-size: 80%;
}

#tool-dropper-img {
	background: url("../img/icons/color8.png") center no-repeat;
	background-size: 100%;
}

#tool-shape-img {
	background: url("../img/icons/square194.png") center no-repeat;
	background-size: 80%;
}

/*Shapes*/
#tool-shape-rect-img{
	background: url("../img/icons/square.png") center no-repeat;
	background-size: 80%;	
}


#tool-shape-circle-img{
	background: url("../img/icons/circle.png") center no-repeat;
	background-size: 80%;	
}

#tool-grid-img {
	background: url("../img/icons/grid.png") center no-repeat;
	background-size: 80%;
}

#tool-line-img {
	background: url("../img/icons/divide4.png") center no-repeat;
	background-size: 80%;
}


#tool-eraser-img {
	background: url("../img/icons/erase2.png") center no-repeat;
	background-size: 80%;
}

#tool-clear-img {
	background: url("../img/icons/trash30.png") center no-repeat;
	background-size: 80%;
}

#tool-save-img {
	background: url("../img/icons/download174.png") center no-repeat;
	background-size: 80%;
}

#tool-text-img {
	background: url("../img/icons/font13.png") center no-repeat;
	background-size: 100%;
}
#tool-col-pick{
	margin: 10px;
	border:2px solid #000;
	width:600px;
	height:260;
}

#tool-col-pick > #color-picker{
	float: left;
	cursor:crosshair;
}
#tool-col-pick > #tool-rgb-val{
	float: right;
}
#tool-rgb-val label{

}
#tool-rgb-val span{
	display: block;
}
#tool-rgb-val input{
	width: 80px;
}

#canvas, #pointer-canvas {
	cursor: none;
}

.table-scroll {
	display: block;
	width: 100%;
	overflow:auto;
	max-height: 496px;
	vertical-align: middle;	

}

#room-list-headers {
	margin-top: 16px;
}

#room-id {
	text-align: left;
	width: 186px;
}

#no-users {
	text-align: left;
	width: 140px;
}

#last-activity {
	text-align: left;
	width: 240px;
}

#room-list tbody td {
	width: 186px;
}

#room-list tbody td + td{
	width: 140px;
}

#room-list tbody td + td + td{
	width: 240px;
}

/*---------------------------------
	Chat
---------------------------------*/
#chat-box {
	height:276px;
	width:306px;
	border:0px solid #ccc;
	background-color: #4d3d2f;
	padding: 2px;
	overflow: auto;
}

#chat-message {
	position: relative;
	top: -2px;
	border: none;
	-webkit-appearance: none;
	height: 40px;
	width: 253px;
	outline: 0;
	color: black;
}

.message {
	width: 289px;
}

.message p {
	word-wrap: break-word;
}