/*--------------------------------
	General Page Layouts
---------------------------------*/
body {
	font-family: 'Roboto';
	font-size: 1.25em;
	margin: 0px;
	padding: 0px;
	background-color: #252830;
	color: white;
}

.container {
	max-width: 1280px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.special-box {
	display: inline-block;
	background-color: #1b1e25;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	color: #656f86;
	vertical-align: top;
}

.content-box {
	padding: 20px;
}

.content-wrap {
	margin-bottom: 20px;
}

/*--------------------------------
	Properties
---------------------------------*/
.error {
	color: red;
}
.inline-block {
	display: inline-block;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.no-margin {
	margin: 0;
}

.invisible {
	position: absolute;
	display: none;
	left: -9999px;
	top: -9999px;
}

.clear {
	clear: both;
}
.center {
	text-align: center;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

/* Split because it gets altered in a media query */
.nav-float-left {
	float: left;
}

.nav-float-right {
	float: right;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.lead {
	margin-top: 0;
}

.four-col {
	width: 260px;
}

.right-margin {
	margin-right: 46.66666666666667px;
}

.login-fixed-width {
	display: inline-block;
	width: 150px;
}

.feature-fixed-height {
	height: 170px;
}

.feature-fixed-image {
	height: 100px;
	width: 100px;
}

.margin-left-right-auto {
	margin-left: auto;
	margin-right: auto;
}

.left-col, .right-col {
	display: inline-block;
	vertical-align: top;
}

.scroll-overflow {
    overflow-y: auto;
	overflow-x: hidden;
    max-height: 500px;
}

.left-padding {
	padding-left: 20px;
}

/*--------------------------------
	Buttons
---------------------------------*/
.btn {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	cursor: pointer;
	padding: 10px;
	border-radius: 10px;
}

.outline {
	color: #1ca8dd;
    background-color: transparent;
    border: 1px #1ca8dd solid;
}

.outline:hover {
	color: white;
    background-color: #1ca8dd;
}

/*--------------------------------
	Images
---------------------------------*/
.padlock {
	display: block;
	background: url('/images/icons/locked59.png') no-repeat center;
	background-size: 80%;
}

.clipboard {
	display: block;
	background: url('/images/icons/clipboard105.png') no-repeat center;
	background-size: 80%;
}

.shared-canvas {
	display: block;
	background: url('/images/icons/browser13.png') no-repeat center;
	background-size: 80%;
}

.cloud-download {
	display: block;
	background: url('/images/icons/cloud384.png') no-repeat center;
	background-size: 80%;
}

/*--------------------------------
	Specific Elements
---------------------------------*/
hr {
	border-color: #4e515a;
	box-shadow: none;
}

footer {
	width: 100%;
	border-top: solid 1px #4e515a;
}

input[type="text"], input[type="password"] {
	background-color: #434857;
	padding-left: 15px;
    padding-right: 15px;
    box-shadow: none;
    border: none;
    border-radius: 10px;
    height: 46px;
    font-size: 1em;
    position: relative;
    top: 2px;
    color: white;
}

input[type="text"]:focus, input[type="password"]:focus {
	outline: 0;
	background-color: white;
    color: black;
}

/*--------------------------------
	Table Relevant Elements
---------------------------------*/
table {
	width: 100%;
	border-collapse: collapse;
}

td, th {
	text-align: left;
	padding: 10px;	
}

th {
	border-bottom: 1px solid #4e515a;
	border-right: 1px solid #4e515a;
}

td {
	border-top: 1px solid #4e515a;
	border-right: 1px solid #4e515a;
}

tr:last-child th:last-child { 	
	border-left: 1px solid #4e515a;
	border-right: none;
}

tr:last-child td:last-child { 	
	border-left: 1px solid #4e515a;
	border-right: none;
}

.table-wrap {
	border: 1px solid #4e515a;
	border-radius: 10px;
}

.row-selected {
	background-color: #434857;
}

tbody.cursor-pointer {
	cursor: pointer;
}

table#rooms tbody tr:hover, .row-selected:hover {
	background-color: #1ca8dd;
}

/*--------------------------------
	Header Formatting
---------------------------------*/
h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.75em;
}

h4 {
	font-size: 1.5em;
}

h5 {
	font-size: 1.3em;
}

/*--------------------------------
	Extras
---------------------------------*/
.onoffswitch {
    position: relative; width: 120px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    display: inline-block;
    vertical-align: top;
    color: #aaa;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border-radius: 10px;
    background: #434857;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 46px; padding: 0; line-height: 46px;
    font-size: 1em;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Public";
    padding-left: 10px;
}
.onoffswitch-inner:after {
    content: "Private";
    padding-right: 10px;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 27px; margin: 9px;
    background: #aaa;
    position: absolute; top: 0; bottom: 0;
    right: 71px;
	border-radius: 10px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

@media (max-width: 1291px) {
	.right-margin {
		right-margin: 0;
	}

	.four-col {
		margin: 20px;
	}
}

@media (max-width: 350px) {
	.four-col {
		width: none;
		margin-left: 0;
		margin-right: 0;
	}
}

/* Log in page*/
@media (max-width: 459px) {
	.login-fixed-width {
		display: block;
		width: auto;
	}
}