
body {
	font-family: Verdana;
	font-size: 1em;
	margin: 0;
	padding: 0;
	cursor: crosshair;
}

h1 {
	margin-top: 10px;
}

.arrow-left {
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
	border-right:10px solid gray; 
}

.paletteLeftCol, .paletteArrowCol, .paletteRightCol {
	float: left;
	display: inline-block;
	position: relative;
}
.paletteRightCol {
	margin-left: 15px;
}

span.value {
	display: inline-block;
	width: 50px;
}

.clear {
	clear: both;
}


