nav {
	width: 100%;
	border-bottom: solid 1px #4e515a;
}

ul.nav-bar {
	list-style-type: none;
    padding: 0px;
    margin: 0px;
    height: 60px;
}

ul.nav-bar li {
	display: inline-block;
	vertical-align: top;
}

ul.nav-bar li a.link {
	display: block;
	color: white;
	text-decoration: none;
	line-height: 60px;
	padding-left: 20px;
	padding-right: 20px;
}

ul.nav-bar li a.text {
	display: block;
	color: #656f86;
	text-decoration: none;
	line-height: 60px;
}

ul.nav-bar li a.link:hover {
	color: #1ca8dd;
}

ul.nav-bar li a:visited {
	color: white;
}

ul.nav-bar li a.logo {
	display: block;
	width: 60px;
	height: 60px;
	background: url('/images/dn-512x512.png') no-repeat center;
	background-size: 80%;
}