<% include ../header %>
	<div class="container">
		<h2>Administration Control Panel</h2>
		<div class="menu">
			<ul>
				<li><a class="link" href="/acp/rooms">Rooms</a></li>
				<li><a class="link" href="/acp/analytics">Analytics</a></li>
			</ul>
		</div>
		<div class="content">