<html>
	<head>
		<title>Draw Network</title>
		<link rel="icon" href="/images/logo/dn-64x64.png?v=2" type="image/x-icon" />
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto">
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans">
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Ubuntu">
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Sigmar+One">
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Droid+Serif">
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Pacifico">
		<link rel="stylesheet" type="text/css" href="/dist/global.css">
	</head>
	<body>
		<input id="menuToggle" class="invisible" type="checkbox"></input>
		<nav>
			<div class="container">
				<ul class="nav-bar">
					<li class="nav-float-left"><a class="logo"></a></li>
					<li class="menuTitle nav-float-left"><a><label for="menuToggle">Menu</label></a></li>
					<li class="menuItem nav-float-left"><a class="link" href="/">Home</a></li>
					<li class="menuItem nav-float-left"><a class="link" href="/rooms">Rooms</a></li>
					<% if(isAuthenticated) { %>
					<li class="menuItem nav-float-left"><a class="link" href="/acp">ACP</a></li>
					<li class="menuItem nav-float-right">
						<a class="text left-padding">Hi, <%= user.username %></a>
						<a class="link" href="/logout">Log out</a>
					</li>
					<% } else { %>
					<li class="menuItem nav-float-right"><a class="link" href="/login">Log in</a></li>
					<% } %>
				</ul>
			</div>
			<div class="clear"></div>
		</nav>