<% if(error == 1) { %>
	<div class="content-wrap"><p class="error">Could not create room: Your address has already created 5 rooms!</p></div>
<% 	} else if(error == 2) {%>
	<div class="content-wrap"><p class="error">Could not create room: Could not identify address</p></div>
<% } %>